@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
$mainFont: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $mainFont;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  z-index: 10;
}

.container {
  max-width: 1100px;
  min-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #666;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

